<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Operation Result</h1>
	<p>The amount of a "<%= operation %>" of <%= left %> oz. is: $ <%= result %></p>
</body>
</html>